fastapi
uvicorn
requests
earthengine-api
python-dotenv
reportlab
pydantic
httpx
groq
xgboost
scikit-learn
onnx
onnxruntime
pandas
numpy
slowapi
structlog

redis
sqlalchemy
psycopg2-binary
tenacity
gunicorn
skl2onnx
onnxmltools

apscheduler
httpx
