@tailwind base;
@tailwind components;
@tailwind utilities;
body, html, #root { margin: 0; padding: 0; width: 100vw; height: 100vh; overflow: hidden; }
* { border-radius: 0 !important; }
.threat-grid { display: grid; grid-template-columns: 120px 2fr 150px 150px 150px 120px; gap: 16px; align-items: center; }
@media (max-width: 1024px) { .threat-grid { grid-template-columns: 100px 1.5fr 120px 120px 100px; } .hide-tablet { display: none; } }

.grid-blueprint {
  background-size: 40px 40px;
  background-image: 
      linear-gradient(to right, #262626 1px, transparent 1px),
      linear-gradient(to bottom, #262626 1px, transparent 1px);
  background-position: top left;
}

/* Brutalist Checkbox/Toggle Styles */
.brutal-toggle input { display: none; }
.brutal-toggle .track {
    width: 48px;
    height: 24px;
    border: 1px solid #444748;
    background-color: #201f1f;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.brutal-toggle .thumb {
    width: 20px;
    height: 20px;
    background-color: #444748;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.1s steps(2, end);
}
.brutal-toggle input:checked + .track {
    border-color: #ffffff;
    background-color: #353534;
}
.brutal-toggle input:checked + .track .thumb {
    background-color: #ffffff;
    transform: translateX(24px);
}
